body {
  background-color: var(--lightWhite);
  margin: 0;
  font-family: Inter, sans-serif;
}

:root {
  --green: #2A4F35;
  --lightWhite: #F5F5F0;
  --white: #FFFFFF;
  --coffee: #A0846E;
  --black: #333333;
  --grey: #ADAEBC;
}